[submodule "workshop_2"]
	path = workshop_2
	url = https://github.com/ni-cookie/workshop_2.git
[submodule "workshop_3"]
	path = workshop_3
	url = https://github.com/ni-cookie/secure-api-lab.git
[submodule "workshop_5"]
	path = workshop_5
	url = https://github.com/ni-cookie/typeorm-express-typescript.git
[submodule "workshop_8_9"]
	path = workshop_8_9
	url = https://github.com/ni-cookie/vite-react-boilerplate.git
